<div class="media-all">
  <div class="media-block">
    <div class="media-inner">
      <div class="media">
        <div class="media-body">
          <div class="body-top">
            <div class="media-left">
              <div class="ava"><span><img src="../../../assets/img/ava6_42x42.jpg" alt=""></span></div>
            </div>
            by <a [routerLink]="'../communities/profile'">Jackson Wells</a>
            <span>6 Nov, 2016<span class="time">20:59</span></span>

            <div class="body-top-right">
              <div class="info-links">
                <a [routerLink]="'../'"><i class="fa fa-heart-o" aria-hidden="true"></i>6</a>
                <a [routerLink]="'../'" class="linev warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>
                <a [routerLink]="'../'" class="linev">Reply</a>
              </div>
            </div>
          </div>

          <a [routerLink]="'../'">http://www.amazon.com/Core-Performan.../dp/157954908X</a>
          <p>Me and my training partner are using this one, starting a few weeks ago and it kicks some serious ass. More so if you are an athlete than a body builder. You still do all the massive compound exercises , but you
            also do a lot of plyometric stuff, physioball training and supersets of everything. It really focuses on explosive power and a strong core, it is kicking our asses big time. </p>
          <p>A lot of the exercises you scoff at, at first. Then after following the routine for a few weeks you really start to notice you.</p>
          <p>I don't think it's very good for a beginner, but definitely good if you are already an athlete.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="media-block">
    <div class="media-inner">
      <div class="media">

        <div class="media-body">
          <div class="body-top">
            <div class="media-left">
              <div class="ava"><span><img src="../../../assets/img/ava7_42x42.jpg" alt=""></span></div>
            </div>

            by <a [routerLink]="'../communities/profile'">Jackson Wells</a>
            <span>6 Nov, 2016<span class="time">20:59</span></span>

            <div class="body-top-right">
              <div class="info-links">
                <a [routerLink]="'../'"><i class="fa fa-heart-o" aria-hidden="true"></i>23</a>
                <a [routerLink]="'../'" class="linev warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>
                <a [routerLink]="'../'" class="linev">Reply</a>
              </div>
            </div>
          </div>

          <p>Power Eating<br> The Macrobolic Diet<br> The Anabolic Diet<br> Nutrient Timing</p>
        </div>
      </div>
    </div>

    <div class="media-inner">
      <div class="media-before"><a [routerLink]="'../communities/profile'" class="link-author">Chad Spencer</a> replied to a <a [routerLink]="'../'">comment</a> on this.

      </div>
      <div class="media">
        <div class="media-body">
          <div class="body-top">
            <div class="media-left">
              <div class="ava"><span><img src="../../../assets/img/ava5_42x42.jpg" alt=""></span></div>
            </div>

            by <a [routerLink]="'../communities/profile'">Chad Spencer</a>
            <span>6 Nov, 2016<span class="time">20:59</span></span>

            <div class="body-top-right">
              <div class="info-links">
                <a [routerLink]="'../'"><i class="fa fa-heart-o" aria-hidden="true"></i>1</a>
                <a [routerLink]="'../'" class="linev warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>
                <a [routerLink]="'../'" class="linev">Reply</a>
              </div>
            </div>
          </div>

          <p>Knowledge and Nonsense by Jamie Hale. Girth Control by Alan Aragon</p>
        </div>
      </div>
    </div>

    <div class="media-inner">
      <div class="media-before"><a [routerLink]="'../communities/profile'" class="link-author">Wells Jackson</a> replied to a <a [routerLink]="'../'">comment</a> on this. </div>
      <div class="media">

        <div class="media-body">
          <div class="body-top">
            <div class="media-left">
              <div class="ava"><span><img src="../../../assets/img/ava5_42x42.jpg" alt=""></span></div>
            </div>

            by <a [routerLink]="'../communities/profile'">Wells Jackson</a>
            <span>6 Nov, 2016<span class="time">20:59</span></span>

            <div class="body-top-right">
              <div class="info-links">
                <a [routerLink]="'../'"><i class="fa fa-heart-o" aria-hidden="true"></i>1</a>
                <a [routerLink]="'../'" class="linev warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>
                <a [routerLink]="'../'" class="linev">Reply</a>
              </div>
            </div>
          </div>

          <p>Knowledge and Nonsense by Jamie Hale<br> Girth Control by Alan Aragon</p>
        </div>
      </div>
    </div>
  </div>

  <div class="media-block">
    <div class="media-inner">
      <div class="media">
        <div class="media-body">
          <div class="body-top">
            <div class="media-left">
              <div class="ava"><span><img src="../../../assets/img/ava6_42x42.jpg" alt=""></span></div>
            </div>

            by <a [routerLink]="'../communities/profile'">Jackson Wells</a>
            <span>6 Nov, 2016<span class="time">20:59</span></span>

            <div class="body-top-right">
              <div class="info-links">
                <a [routerLink]="'../'"><i class="fa fa-heart-o" aria-hidden="true"></i>6</a>
                <a [routerLink]="'../'" class="linev warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>
                <a [routerLink]="'../'" class="linev">Reply</a>
              </div>
            </div>
          </div>

          <p>Me and my training partner are using this one, starting a few weeks ago and it kicks some serious ass. More so if you are an athlete than a body builder. You still do all the massive compound exercises , but you
            also do a lot of plyometric stuff, physioball training and supersets of everything. It really focuses on explosive power and a strong core, it is kicking our asses big time. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<nav aria-label="Page navigation">
  <ul class="navi-pagination">
    <li class="prev">
      <a [routerLink]="'../'" aria-label="Previous">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
      </a>
    </li>
    <li><a [routerLink]="'../'">1</a></li>
    <li class="active"><a [routerLink]="'../'">2</a></li>
    <li><a [routerLink]="'../'">3</a></li>
    <li><a [routerLink]="'../'">4</a></li>
    <li><a [routerLink]="'../'">5</a></li>
    <li><a [routerLink]="'../'">6</a></li>
    <li><span>...</span></li>
    <li><a [routerLink]="'../'">14</a></li>
    <li class="next">
      <a [routerLink]="'../'" aria-label="Next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
      </a>
    </li>
  </ul>
</nav>

<div class="comment-add">
  <form>
    <textarea placeholder="Leave your comment"></textarea>
    <input type="submit" value="Submit">
  </form>
</div>
