<div class="widget">
  <a [routerLink]="['/forum']" class="title">Bodybuilding</a>
  <ul>
    <li><a [routerLink]="['/forum']">Training program</a></li>
    <li><a [routerLink]="['/forum']">Sport Nutrition</a></li>
    <li><a [routerLink]="['/forum']">Competition</a></li>
    <li><a [routerLink]="['/forum']">Diet</a></li>
    <li><a [routerLink]="['/forum']">GYM</a></li>
  </ul>
  <div class="title">Yoga</div>
  <ul>
    <li><a [routerLink]="['/forum']">Poses & Asanas</a></li>
    <li><a [routerLink]="['/forum']">Ayurveda</a></li>
    <li><a [routerLink]="['/forum']">Yoga Studios</a></li>
  </ul>
  <div class="title">Fitness</div>
  <ul>
    <li><a [routerLink]="['/forum']">Fitness Yoga</a></li>
    <li><a [routerLink]="['/forum']">Stretching</a></li>
    <li><a [routerLink]="['/forum']">Pilates</a></li>
    <li><a [routerLink]="['/forum']">Cycling</a></li>
    <li><a [routerLink]="['/forum']">Boxing</a></li>
    <li><a [routerLink]="['/forum']">Swimming</a></li>
    <li><a [routerLink]="['/forum']">TRX</a></li>
  </ul>
  <div class="title">Run</div>
  <ul>
    <li><a [routerLink]="['/forum']">Training program</a></li>
    <li><a [routerLink]="['/forum']">Competition</a></li>
    <li><a [routerLink]="['/forum']">Diet</a></li>
  </ul>
  <div class="title">Martial Arts</div>
</div>
