<footer class="forum-footer">
  <div class="container">
    <div class="widgets-footer clearfix">
      <div class="widget-footer">
        <div class="title">Babanaija</div>
        <ul>
          <li><a [routerLink]="['/forum']">About </a></li>
          <li><a [routerLink]="['/forum']">FAQ </a></li>
          <li><a [routerLink]="['/forum']">Site rules </a></li>
          <li><a [routerLink]="['/forum']">Advertise </a></li>
          <li><a [routerLink]="['/forum']">Transparency </a></li>
          <li><a [routerLink]="['/forum']">Contact Us </a></li>
        </ul>
      </div>
      <div class="widget-footer">
        <div class="title">Communities</div>
        <ul>
          <li><a [routerLink]="['/forum']">Beauty </a></li>
          <li><a [routerLink]="['/forum']">Work </a></li>
          <li><a [routerLink]="['/forum']">Sport </a></li>
          <li><a [routerLink]="['/forum']">Realty </a></li>
          <li><a [routerLink]="['/forum']">Creativity </a></li>
          <li><a [routerLink]="['/forum']">Family </a></li>
          <li><a [routerLink]="['/forum']">Travel </a></li>
          <li><a [routerLink]="['/forum']">Philosofy </a></li>
          <li><a [routerLink]="['/forum']">Food </a></li>
          <li><a [routerLink]="['/forum']">Reading </a></li>
          <li><a [routerLink]="['/forum']">Business </a></li>
          <li><a [routerLink]="['/forum']">All Communities </a></li>
        </ul>
      </div>
      <div class="widget-footer">
        <div class="title">Social</div>
        <ul>
          <li class="fb"><a [routerLink]="['/forum']" target="_blank">Facebook </a></li>
          <li class="tw"><a [routerLink]="['/forum']" target="_blank">Twitter </a></li>
          <li class="gg"><a [routerLink]="['/forum']" target="_blank">Google </a></li>
          <li class="inst"><a [routerLink]="['/forum']" target="_blank">Instagram </a></li>
        </ul>
      </div>
    </div>
    <div class="copyright text-center">Use of this site constitutes acceptance of our User Agreement and <a [routerLink]="['/forum']">Privacy Policy</a><br>&copy; 2016 Babanaija. All rights reserved</div>
  </div>
</footer>
