<div class="widget">
  <div class="title">Recent Community Topics</div>
  <ul class="widget-recent-topics ver1">
    <li>
      <div><a [routerLink]="['/forum']">Starting a new sports nutrition business</a></div>
      by <a [routerLink]="['/forum']">Mildred Hudson</a><span class="time">30 min ago</span>
    </li>
    <li>
      <div><a [routerLink]="['/forum']">Do you guys think I should bulk or cut?</a></div>
      by <a [routerLink]="['/forum']">Mildred Simpson</a><span class="time">30 min ago</span>
    </li>
    <li>
      <div><a [routerLink]="['/forum']">What kind of protein are the best?</a></div>
      by <a [routerLink]="['/forum']">Joshua Schmidt</a><span class="time">30 min ago</span>
    </li>
    <li>
      <div><a [routerLink]="['/forum']">Starting a new sports nutrition business</a></div>
      by <a [routerLink]="['/forum']">Mildred Hudson</a><span class="time">30 min ago</span>
    </li>
    <li>
      <div><a [routerLink]="['/forum']">Do you guys think I should bulk or cut?</a></div>
      by <a [routerLink]="['/forum']">Mildred Simpson</a><span class="time">30 min ago</span>
    </li>
    <li>
      <div><a [routerLink]="['/forum']">What kind of protein are the best?</a></div>
      by <a [routerLink]="['/forum']">Joshua Schmidt</a><span class="time">30 min ago</span>
    </li>
    <li>
      <div><a [routerLink]="['/forum']">Starting a new sports nutrition business</a></div>
      by <a [routerLink]="['/forum']">Mildred Hudson</a><span class="time">30 min ago</span>
    </li>
    <li>
      <div><a [routerLink]="['/forum']">Do you guys think I should bulk or cut?</a></div>
      by <a [routerLink]="['/forum']">Mildred Simpson</a><span class="time">30 min ago</span>
    </li>
    <li>
      <div><a [routerLink]="['/forum']">What kind of protein are the best?</a></div>
      by <a [routerLink]="['/forum']">Joshua Schmidt</a><span class="time">30 min ago</span>
    </li>

  </ul>
</div>
