<div class="container create-new"><a [routerLink]="['/forum/list-of-topics']" class="btn btn-default" data-toggle="modal" data-target="#create-new-topic">Create new post</a></div>
<div class="listoftop-header">
  <div class="container">
    <div class="topic clearfix">
      <div class="title">
        <span>Bodybuilding Community</span>
      </div>
      <div class="topic-content">
        <div class="topic-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make
        </div>
        <div class="topic-members">
          <div class="moderators">
            <div class="label-text">Moderators: <span>11 people</span></div>
            <div class="other-users">
              <span class="ava"><span><img src="../../../assets/img/ava5_42x42.jpg" alt=""></span></span>
              <span class="ava"><span><img src="../../../assets/img/ava4_42x42.jpg" alt=""></span></span>
              <span class="ava"><span><img src="../../../assets/img/ava3_42x42.jpg" alt=""></span></span>
            </div>
          </div>
          <div class="members">
            <div class="label-text">Members: <span>61.14K+ people</span></div>
            <div class="other-users">
              <span class="ava"><span><img src="../../../assets/img/ava5_42x42.jpg" alt=""></span></span>
              <span class="ava"><span><img src="../../../assets/img/ava4_42x42.jpg" alt=""></span></span>
              <span class="ava"><span><img src="../../../assets/img/ava3_42x42.jpg" alt=""></span></span>
              <span class="ava"><span><img src="../../../assets/img/ava1_42x42.jpg" alt=""></span></span>
              <span class="ava"><span><img src="../../../assets/img/ava2_42x42.jpg" alt=""></span></span>
              <span class="ava"><span><img src="../../../assets/img/ava4_42x42.jpg" alt=""></span></span>
              61.14K+ people
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
