<div class="container create-new"><a [routerLink]="['/forum/new-post']" class="btn btn-default">Create new post</a></div>
<div class="profile-header">
  <div class="container">
    <div class="table-cell">
      <div class="table">
        <div class="table-cell">
          <div class="profile-image"><img src="../../../assets/img/ava5_160x160.jpg" alt=""></div>
        </div>
        <div class="table-cell">
          <div class="since">Member since: 1 Jun, 2016</div>
          <div class="profile-name">Ruby Lee</div>
          <div class="status online">Online</div>
        </div>
      </div>
    </div>

    <div class="table-cell">
      <div class="table">
        <div class="table-cell">
          <div class="clearfix text-center">
            <a [routerLink]="['/forum']" class="bt">Unfollow</a>
            <a [routerLink]="['/forum']" class="bt active">Send a message</a>
          </div>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
        </div>
      </div>
    </div>
  </div>
</div>
